.button{
  height: 50px;
  width: 300px;
  padding: 10px;
  border: none;
  background-color: #de9032;
  font-size: 1.2rem;
  transition: transform 100ms ease-in-out;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.button:disabled{
  background-color: #888;
  color: #000;
  cursor: not-allowed;
}